.filter
    box-sizing: border-box
    list-style: none
    margin: 0
    padding: 0
    border-collapse: collapse
    border-radius: 20px
    background-color: #F3F7FA
    th
        border: 1px #DFE5EC solid
        background-color: white
    .select
        background: #2196F3
        
        button
            color: white
    button
        padding: 15px
        border: none
        background-color: inherit

        color: #4A4A4A
        font-size: 12px
        font-family: Open Sans
        font-weight: 600
        text-transform: uppercase
        line-height: 20px
        letter-spacing: 0.50px
        word-wrap: break-word